<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Person</title>
</head>
<body style="background-color: antiquewhite">

<ul>
    {% for user in person_list %}
        <li>
            {% if user.profile_image %}
                <img src="{{ user.profile_image.path }}" height="50"/>
            {% else %}
                <img src="https://cops.usdoj.gov/html/dispatch/01-2013/images/Blankman.jpg" height="50"/>
            {% endif %}
            {{ user.first_name }} {{ user.last_name }}
        </li>
    {% endfor %}
</ul>

    <h1>{{ title_create }}</h1>
    <form action="{% url "create-person" %}" method="post" enctype="multipart/form-data">
        {{ person_form.as_p }}

        <button>Send</button>
        {% csrf_token %}
    </form>

{#    <h1>{{ title_create }} (custom)</h1>#}
{#    <form action="{% url "create-person" %}" method="post">#}
{#        {% for field in person_form %}#}
{#            <label for="{{ field.id_for_label }}">#}
{#                <strong>{{ field.label }}</strong>#}
{#                {% if field.widget_type == "select" %}#}
                    {# {% make_select field=field %} #}
{#                {% else %}#}
{#                    <input#}
{#                        type="{{ field.widget_type }}"#}
{#                        name="{{ field.html_name }}"#}
{#                        id="{{ field.id_for_label }}"#}
{#                        class="form-control"#}
{#                    >#}
{#                {% endif %}#}
{#            </label>#}
{#        {% endfor %}#}
{##}
{#        <button>Send</button>#}
{#        {% csrf_token %}#}
{#    </form>#}
</body>
</html>